html, 
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.light {
    font-weight: 300;
}

.hidden {
    display: none;
}

/* Header */

header {
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 2;
    display: grid;
    grid-template-columns: 1em 2fr 70px 120px;
    color: #090909;
}

header a {
    text-decoration: none;
    color: #202020;
}

.fa-comment {
    font-size: 2rem;
    margin-right: 0.15em;
}

#a-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-column: 2;
}

/* Main */

main {
    display: grid;    
    grid-template-columns: 1em auto 1em;
}

/* Hero Content */

#cnt-hero {
    margin-top: 3.5em;
    grid-column: 1 / -1;
    color: white;
    background-image: url("/images/studying.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 20em;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0 1.5em; /* 48px */
    text-shadow: 0px 0px 1px;
}

#cnt-hero h2 {
    width: 70%;
    font-size: 28px;
    margin: 0px;
}

#cnt-hero h4{
    text-transform: uppercase;
}

#cnt-hero h3 {
    max-width: 95%;
}

/* Blogs Content */

section {
    grid-column: 2;
    display: grid;
}

div {
    padding: 2em;
    max-width: 1000px;
    margin: 0 auto;
}

#cnt-blogs {
    margin-top: 1em;
}

#cnt-blogs div a{
    text-decoration: none;
    color: #090909;
}

#cnt-blogs img {
    width: 100%;
    height: 45%;
    max-width: 450px;
}

#cnt-blogs h4 {
    max-width: 450px;
}

#more {
    margin-top: 0px;
    text-align: center;
    text-decoration: underline;
    padding: 2em 0px;
}


/* Footer */

footer{
    background-color: #202020;
    color: white;
    grid-column: 1 / -1;
    margin-top: 1em;
}

footer div {
    padding: 3em; /*48px*/
    text-align: center;
}

.fa-copyright {
    font-weight: 100;
    margin-top: 0.3em;
}


/* Hovers */

header a:hover,
header a:focus,
#more:hover,
footer:hover {
    color: #eaac8b;
} 

#more:hover {
    text-decoration: none;
    cursor: pointer;
}

footer:hover {
    background-color: #233d4d;
}

#cnt-blogs div:hover {
    background-color: #233d4d;
    opacity: 0.8;
    color: #eaac8b;
}

@media (min-width: 924px) {

    /* Hero Content */

    #cnt-hero {
        height: 22em;
        display: flex;
        flex-direction: column;
        justify-content: end;
        background-position-y: -9em;
    }

    #cnt-hero h3 {
        max-width: 75%;
    }

    /* Blogs */

    #cnt-blogs {
        display: grid;
        grid-template-columns: auto auto;
    }

    #more {
        text-decoration: none;
    }
}

@media (min-width: 1280px) {

    /* Hero Content */

    #cnt-hero {
        height: 30em;
    }

    #cnt-hero h3 {
        max-width: 50%;
    }

    /* Blogs */

    #cnt-blogs {
        grid-template-columns: auto auto auto;
    }

    #more {
        grid-column: 1 / -1;
    }
}

@media (min-width:1550px){
    /* Hero Content */

    #cnt-hero {
        background-position-y: -12em;
    }

    #cnt-hero h3 {
        max-width: 40%;
    }
}

@media (min-width:1850px){
    /* Hero Content */

    #cnt-hero {
        background-position-y: -30em;
    }

    #cnt-hero {
        height: 35rem;
    }

    #cnt-hero h3 {
        max-width: 35%;
    }
}